* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: left;
    padding-top: 100px;
    max-width: 100%;
    margin: 0 auto;
}



h1 {
    font-size: 4rem;
}

p {
    padding-top: 2%;
}
.celcius-c {
    font-size: 1.5rem;
    
}
.weatherToday {
    padding-left: 3%;
}
.weather-forecast {
    padding-top: 5%;
    padding-left: 3%;
    
    display: grid;
    grid-auto-flow: row;

    
}

/* Tablet */

@media screen and (min-width: 768px) {
    .weather-forecast {
        grid-template-columns: repeat(2, 1fr);
       
    }
}

/* Desktop */

@media screen and (min-width: 1200px) {
    .weather-forecast {
        grid-template-columns: repeat(5, 1fr);
        
        
    }
}
